<button mat-raised-button color="primary" class="btpt" routerLink="/create-permission">+Add New Permission</button>

<table mat-table [dataSource]="roles.items" class="mat-elevation-z8 demo-table" *ngIf="roles && roles.items">
    <ng-container matColumnDef="permissionId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.permissionId}}</td>
    </ng-container>
  
    <ng-container matColumnDef="permissionName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.permissionName}}</td>
    </ng-container>
    
    <ng-container matColumnDef="actions" style="width: 300px;">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" [routerLink]="['/get-byid-permission', element.id]">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="['permissionId', 'permissionName', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['permissionId', 'permissionName', 'actions']"></tr>
  </table>