<div class="row">
  <div class="col">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Send Application</mat-label>
        <input matInput placeholder="Enter text" id="item-input" #newItem>
      </mat-form-field>
  </form>
  <section>
      <button class="btn" mat-button (click)="addNewItem(newItem.value)">Send</button>
  </section>
  <ul>
      <li *ngFor="let item of items">{{item}}</li>
    </ul>
  </div>
  <div class="col">
    <app-response-application></app-response-application>
  </div>
</div>


