<div>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Send Application</mat-label>
          <input matInput [(ngModel)]="value1" name="responseInput" placeholder="Enter text" (keydown)="eventInvokeMethod($event)">
        </mat-form-field>
    </form>
    <section>
        <button class="btn" mat-button (click)="addItem(value1)">Send</button>
    </section>
    <ul>
        <li *ngFor="let item of items">{{item}}</li>
    </ul>
    <p>{{comingText}}</p>
</div>
