<button mat-raised-button color="primary" class="btpt" routerLink="/create-product">+Add New ProductType</button>

<table mat-table [dataSource]="productTypes.items" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
  
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef>Picture</th>
      <td mat-cell *matCellDef="let element">{{element.picture}}</td>
    </ng-container>

    <ng-container matColumnDef="actions" style="width: 300px;">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" routerLink="/product-type-byid">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'name', 'picture', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'picture', 'actions']"></tr>
  </table>